/*
- Mobile: 375px
- Desktop: 1440px

## Color

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)

### Body Copy

- Font size: 16px

### Headings

- Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

*/
body {
    background-color: grey;
}

header {
    width: 100%;
}

.navbar {
    margin: 0 auto;
    width: 500px;
}

nav {
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: normal;
    color: hsl(273, 4%, 51%);
}
.view-plans{
    border: 1px solid hsl(273, 4%, 51%);
    padding: 0.5rem;
}
.view-plans:hover {
    background-color: hsl(273, 4%, 51%);
    color: white;
    cursor: pointer;
}

